<a href="https://colab.research.google.com/github/nerthiga/Introduction_to_Python_Udacity/blob/main/Quiz1_lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

# use list indexing to determine the number of days in month
num_days = days_in_month[7]

print(num_days)

31

In [2]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
                 
                 
# TODO: Modify this line so it prints the last three elements of the list
print(eclipse_dates [-3: ])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

In [1]:
# Use this playground to experiment with list methods, using Test Run
names = ["Carol", "Albert", "Ben", "Donna"]
names.append("Eugenia")
print(sorted(names))

a = [1, 5, 8]
b = [2, 6, 9, 10]
c = [100, 200]
print(max([len(a), len(b), len(c)]))
print(min([len(a), len(b), len(c)]))

['Albert', 'Ben', 'Carol', 'Donna', 'Eugenia']
4
2

In [2]:
arr = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(arr[0])

print(arr[len(arr)-1])
print(arr[-1])
print(arr[2:5])
print(arr[ :4])
print(arr[5: ])

a
g
g
['c', 'd', 'e']
['a', 'b', 'c', 'd']
['f', 'g']